{{ ansible_managed | comment }}

version: v1

address: {{ kes_address | mandatory }}

admin:
{% if kes_api_admin_identity is defined and kes_api_admin_identity | length %}
  identity: {{ kes_api_admin_identity }}
{% else %}
  identity: disabled
{% endif %}

tls:
  key: {{ kes_tls_certificate_key_file | mandatory }}
  cert: {{ kes_tls_certificate_file | mandatory }}

cache:
  expiry:
    any: {{ kes_cache_expiry_any | int }}s
    unused: {{ kes_cache_expiry_unused | int }}s
    offline: {{ kes_cache_expiry_offline | int }}s

{% if kes_pre_defined_keys is defined and kes_pre_defined_keys | length %}
keys:
{% for key in kes_pre_defined_keys %}
  - name: {{ key }}
{% endfor %}
{% endif %}

policy:
{% for policy in kes_policies %}
  {{ policy.name }}:
    allow:
{% for allow in policy.allow %}
    - {{ allow }}
{% endfor %}
{% if policy.deny is defined and policy.deny | length %}
    deny:
{% for deny in policy.deny %}
    - {{ deny }}
{% endfor %}
{% endif %}
    identities:
{% for identity in policy.identities %}
    - {{ identity }}
{% endfor %}
{% endfor %}

{% if not kes_audit_logging_enabled is defined or not kes_audit_logging_enabled | bool %}
{% if not kes_error_logging_enabled is defined or not kes_error_logging_enabled | bool %}
log:
  audit: off
  error: off
{% elif kes_error_logging_enabled is defined and kes_error_logging_enabled | bool %}
log:
  audit: off
  error: on
{% endif %}
{% endif %}

{% if kes_audit_logging_enabled is defined and kes_audit_logging_enabled | bool %}
{% if not kes_error_logging_enabled is defined or not kes_error_logging_enabled | bool %}
log:
  audit: on
  error: off
{% endif %}
{% endif %}

keystore:
{% if kes_keystore_fs_path is defined and kes_keystore_fs_path | length %}
{% if not kes_keystores is defined or not kes_keystores | length %}
  fs:
    path: {{ kes_keystore_fs_path }}
{% endif %}
{% elif not kes_keystore_fs_path is defined or not kes_keystore_fs_path | length %}
{% if kes_keystores is defined and kes_keystores | length %}
{{ kes_keystores | to_nice_yaml(indent=2) | indent(4, false)}}
{% endif %}
{% endif %}
