[Unit]
Description=MinIO kes
Documentation=https://min.io/docs/kes/
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ kes_bin_file }}

[Service]
Restart=always
RestartSec=5
TimeoutSec=5

{% if kes_keystore_fs_path is defined and kes_keystore_fs_path | length %}
{% if not kes_keystores is defined and not kes_keystores | length %}
WorkingDirectory={{ kes_keystore_fs_path }}
ReadWritePaths={{ kes_keystore_fs_path }}
{% endif %}
{% endif %}

User={{ kes_system_user }}
Group={{ kes_system_group }}

EnvironmentFile={{ kes_env_vars_file }}

ExecStartPre=/bin/bash -c "if [[ -z ${KES_TEST_VAR} ]]; then echo \"Variable KES_TEST_VAR not set in {{ kes_env_vars_file }}\"; exit 1; fi"

ExecStart={{ kes_bin_file }} server --config {{ kes_config_file }}

UMask=007
RemoveIPC=true

MemoryDenyWriteExecute=true
LockPersonality=true

SystemCallFilter=@system-service
SystemCallArchitectures=native

RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

ProtectProc=invisible
ProtectSystem=full
ProtectHome=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectHostname=true

PrivateDevices=true
PrivateTmp=true

CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_IPC_LOCK

NoNewPrivileges=true
LimitNOFILE=1048576
TasksMax=infinity
TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
